@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 226, 87%, 66%;
    --yellow-1: 38, 87%, 66%;
    --yellow-2: 38, 87%, 66%, 0.15;
    --green-1: 147, 69%, 70%;
    --green-2: 147, 69%, 70%, 0.15;
    --red-1: 355, 100%, 75%;
    --red-2: 355, 100%, 75%, 0.15;
    --purple-1: 238, 44%, 71%;
    --purple-2: 238, 44%, 71%, 0.1;
    --gray-1: 0, 0%, 96%;
    --gray-2: 240, 17%, 58%;

    --black-1: 228, 8%, 12%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 3% 13%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 226, 87%, 66%;
    --yellow-1: 38, 87%, 66%;
    --yellow-2: 38, 87%, 66%, 0.15;
    --green-1: 147, 69%, 70%;
    --green-2: 147, 69%, 70%, 0.15;
    --red-1: 355, 100%, 75%;
    --red-2: 355, 100%, 75%, 0.15;
    --purple-1: 238, 44%, 71%;
    --purple-2: 238, 44%, 71%, 0.1;
    --gray-1: 0, 0%, 96%;
    --gray-2: 240, 17%, 58%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border data-[closed]:outline-none data-[closed]:ring-0 data-[closed]:ring-offset-0;
  }
  body {
    @apply text-foreground;
  }
}

.apexcharts-tooltip {
  background: hsl(240, 3%, 13%);
  color: rgb(46, 45, 45);
  box-shadow: none;
  padding: 20px 15px;
  border-radius: 20px;
  border: none;
}

.auth {
  background: rgb(54, 54, 228);
  background: radial-gradient(
    circle,
    rgba(54, 54, 228, 1) 0%,
    rgb(33, 68, 197) 49%,
    rgb(50, 91, 226) 50%,
    rgba(93, 128, 244, 1) 100%
  );
}
